header {
    background-color: #88A0A8;
    
}

.body {
    background-color: #B4CEB3;
    overflow: hidden scroll;
    font-family: 'Nunito Sans', sans-serif;
   
}

.accueil {
    background-image: url(image/accueil.jpg);
    margin: 0;
    background-repeat:no-repeat;
    background-size:cover;

    
}

h1 {
    font-family: 'PT Serif', serif;
}

h2 {
    font-family: 'Nunito Sans', serif;
}

ul {
    text-align: center;
    list-style-type: none;
}

li {
    margin: 10px 0;
}

.navbar-brand {
    color: #FAD4D8;
}

.nav-link {
    color: #FAD4D8;
}

.bienvenue {
    color: #DBD3C9;
    text-align:center; 
    padding: 14rem;
}


.contact {
    color: #FAD4D8;
    text-align : center;
    padding: 2rem;
}

.galerie {
    color: #DBD3C9;
    text-align : center;
    padding: 2rem;
}

.footer {
    bottom:0;
    position:absolute;
    text-align: center;
    color: #FAD4D8;
    padding: 0.5rem;
    left: 0;
    right: 0;
    background-color:#88A0A8;
    padding: 0.2rem;
    

    
}

.foot {
    text-align : center;
    color: #FAD4D8;
    background-color: #88A0A8;
    padding: 0.2rem;
    
}

.formulaire {
    text-align: center;
    margin: 2rem;
}

.email {
    
    text-align: center;
    padding: 5rem;
}

.tarifs {
    color: #FAD4D8;
    padding: 2rem;
    text-align: center;
}
.liste {
   padding: 2rem;
}
.mail {
    text-align: center;
}